*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  // font-family: ;
}