// media screens mixins started

@mixin breakpoint-down ($screen-width) {
  @media only screen and (max-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-up ($screen-width) {
  @media only screen and (min-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-between ($min-screen, $max-screen) {
  @media only screen and (min-width: $min-screen) and (max-width: $max-screen) {
    @content;
  }
}

// media screens mixins ended

// list by default padding and margin loss styles started

@mixin menyu-list {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 0;
  list-style-type: none;
}

// list by default padding and margin loss styles ended

// nailing to correct the top and bottom margins of the headings started

@mixin h-m-control ($top, $bottom) {
  margin: {
    top: $top;
    bottom: $bottom;
  }
}

// nailing to correct the top and bottom margins of the headings ended

// nailing to correct the top and bottom margins of the headings started

@mixin p-m-control ($top, $bottom) {
margin: {
  top: $top;
  bottom: $bottom;
}
}

// nailing to correct the top and bottom margins of the headings ended

// image in wrapper mixin started

@mixin img-in-box ($img-width, $img-height) {
  display: block;
  width: $img-width;
  height: $img-height;
  object-fit: cover;
}

// image in wrapper mixin ended

// heading mixins started

@mixin h1-large ($h1-color) {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: $h1-color;
}

@mixin h1-small {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: $dark-green;
}

@mixin h2 ($h2-color) {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: $h2-color;
}

@mixin h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $dark-green;
}

// heading mixins ended

@mixin text-md ($text-color) {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $text-color;
}

@mixin text-sm {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: $dark-green;
}

@mixin contact-us-button ($border-color: $white) {
  display: inline-block;
  max-width: 159px;
  min-width: 159px;
  min-height: 48px;
  max-height: 48px;
  vertical-align: baseline;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: {
    top: 7px;
    right: 32px;
    bottom: 13px;
    left: 32px;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
  border-radius: 24px;
  border: 2px solid $border-color;
  text-decoration: none;
  white-space: normal;
  transition: all 0.3s ease;
}