.intro-section {
  background-color: $midnight-green;
  color: $white;
  padding: {
    top: 56px;
    bottom: 250px;
  }
  background-image: url("../img/intro-fitst-img.svg"), url("../img/intro-second-img.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 200px 200px, 358px, 200px;
  background-position: left calc(50% - 720px) top 56px, bottom right calc(50% - 376px);
}

.intro-section__container {
  display: flex;
  justify-content: space-between;
}

.intro-section__intro-heading {
  display: flex;
  align-items: center;
  // display xususiyati headingni yonidagi description ko'payganda heading unga nisbatan gorizontal yo'nalishda o'rtada turishini boshqarish uchun ishlatildi

  @include h1-large;
  @include h-m-control (0, 0);
  width: 635px;
  padding-right: 102px;
}

.intro-section__attractive-word {
  color: $light-coral;
}

.intro-section__intro-discription {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  @include text-md ($white);
  @include p-m-control (0, 0);
  width: 445px;
  padding-top: 20px;
}

.intro-section__intro-discription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 4px;
  background-color: $rapture-blue;
}

@include breakpoint-down (1240px) {
  .intro-section {
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right calc(50% - 376px);
  }
}

@include breakpoint-down (1120px) {
  .intro-section {
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right calc(50% - 346px);
  }

  .intro-section__intro-heading {
    padding-right: 30px;
  }
}

@include breakpoint-down (990px) {
  .intro-section {
    padding: {
      top: 48px;
      bottom: 256px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right calc(50% - 300px);
  }

  .intro-section__intro-heading {
    @include h1-medium;
    padding-right: 53px;
  }

  .intro-section__intro-discription {
    @include text-extra-md;
    padding-top: 45px;
  }
}

@include breakpoint-down (863px) {
  .intro-section {
    padding: {
      top: 48px;
      bottom: 256px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right 50%;
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-small;
    width: 100%;
    margin-bottom: 24px;
    padding: {
      left: 213px;
      right: 213px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    @include text-sm;
    line-height: 28px;
    width: 457px;
    padding-top: 0;
    position: static;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (803px) {
  .intro-section {
    padding: {
      top: 48px;
      bottom: 256px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right 50%;
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-small;
    width: 100%;
    margin-bottom: 24px;
    padding: {
      left: 183px;
      right: 183px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    @include text-sm;
    line-height: 28px;
    width: 457px;
    padding-top: 0;
    position: static;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (743px) {
  .intro-section {
    padding: {
      top: 48px;
      bottom: 256px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right 50%;
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-small;
    width: 100%;
    margin-bottom: 24px;
    padding: {
      left: 153px;
      right: 153px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    @include text-sm;
    line-height: 28px;
    width: 457px;
    padding-top: 0;
    position: static;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (683px) {
  .intro-section {
    padding: {
      top: 48px;
      bottom: 256px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom right 50%;
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-small;
    width: 100%;
    margin-bottom: 24px;
    padding: {
      left: 123px;
      right: 123px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    @include text-sm;
    line-height: 28px;
    width: 457px;
    padding-top: 0;
    position: static;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (623px) {
  .intro-section {
    padding: {
      top: 32px;
      bottom: 197px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom center
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-extra-small;
    width: 100%;
    margin-bottom: 18px;
    padding: {
      left: 170px;
      right: 170px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    position: static;
    @include text-sm;
    line-height: 28px;
    width: 327px;
    padding-top: 0;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (595px) {
  .intro-section {
    padding: {
      top: 32px;
      bottom: 197px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom center
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-extra-small;
    width: 100%;
    margin-bottom: 18px;
    padding: {
      left: 151px;
      right: 151px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    position: static;
    @include text-sm;
    line-height: 28px;
    width: 327px;
    padding-top: 0;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (555px) {
  .intro-section {
    padding: {
      top: 32px;
      bottom: 197px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom center
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-extra-small;
    width: 100%;
    margin-bottom: 18px;
    padding: {
      left: 132px;
      right: 132px;
    }
    text-align: center;
  }

  .intro-section__intro-discription {
    position: static;
    @include text-sm;
    line-height: 28px;
    width: 327px;
    padding-top: 0;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}

@include breakpoint-down (515px) {
  .intro-section {
    padding: {
      top: 32px;
      bottom: 197px;
    }
    background-image: none, url("../img/intro-second-img.svg");
    background-position: bottom center
  }

  .intro-section__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-section__intro-heading {
    @include h1-extra-small;
    width: 100%;
    margin-bottom: 18px;
    padding: {
      left: 0;
      right: 0;
    }
    justify-content: center;
  }

  .intro-section__intro-discription {
    position: static;
    @include text-sm;
    line-height: 28px;
    width: 327px;
    padding-top: 0;
    text-align: center;
  }

  .intro-section__intro-discription::before {
    display: none;
  }
}