.quote-section {
  display: flex;
  flex-direction: column;
  background-color: $deep-jungle-green;
  padding: {
    top: 140px;
    bottom: 140px;
  }
}

.quote-section__title {
  @include h2 ($white);
  text-align: center;
  width: 932px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}

.quote-section__important-text {
  color: $rapture-blue;
}

.quote-section__quote-list {
  display: flex;
  margin-left: -30px;
  text-align: center;
  flex-wrap: wrap;
  @include menyu-list;
  padding: {
    top: 36px;
    bottom: 11px;
  }
}

.quote-section__quote-item {
  width: 350px;
  text-align: center;
  margin-left: 30px;
}

.quote-section__quote-text {
  @include text-sm ($white);
  margin: {
    top: 0;
    bottom: 24px;
    left: 0;
    right: 0;
  }
}

.quote-section__quote-author {
  color: $rapture-blue;
}

.quote-section__quote-authors-position {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;

}

.quote-section__quote-authors-position,
  .quote-section__quote-author {
    @include p-m-control (0, 6px);
  }
