.site-header {
  background-color: $midnight-green;
  padding-top: 73px;
  padding-bottom: 73px;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo-link {
  margin-right: 80px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.site-header__logo-img {
  display: block;
  width: 160px;
  height: 40px;
  object-fit: cover;
}

.site-header__feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 180px;
  @include menyu-list;
  margin: {
    left: -40px;
    right: 80px;
  }
}

.site-header__feature-item {
  margin-left: 40px;
  flex-shrink: 0;
}

.site-header__feature-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: lowercase;
  color: $white;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $light-coral;
  }
}

.site-header__contact-us-button {
  margin-left: auto;
}

